.boxes-container {
    padding: 20px;
}

.boxes {
    width: 100%; /* or use 100% if inside a full-width parent */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    width: 48%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.box img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.box-title {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    ); /* fading shadow */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start; /* text stays at the top */
    padding: 10px;
    box-sizing: border-box;
}
.box-title h3 {
    margin: 0;
    transition: transform 0.5s ease;
}
.box:hover img {
    transform: scale(1.1); /* slight zoom */
}
.box:hover .box-title {
    opacity: 1;
}
.box:hover .box-title h3 {
    transform: translateY(5px);
}
.new,
.featured {
    background-image: url("/img/background1.jpg");
    height: 500px;
    margin: 20px;
    padding-top: 10px;
    position: relative;
    z-index: 9;
}
.featured {
    background-image: url("/img/background2.jpg");
}
.section-title {
    font-weight: 600;
    color: white;
    text-align: center;
}

.shadow {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0)
    );
}
.controllers {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 3%;
    overflow: hidden;
    z-index: 1;
}

.controllers::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/background3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Adjust opacity as needed */
    z-index: 2;
    pointer-events: none;
}
.controller-card {
    position: relative;
    z-index: 1; /* ensures cards are above the background */
    width: 30%;
    background-color: var(--main-color);
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    border-radius: 12px;
}
.controller-card a {
    color: white;
    text-decoration: none;
}
.controller-card img {
    width: 50%;
    height: 120px;
}
.info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.general-info ul {
    list-style-type: none;
}
.general-info ul li {
    margin-top: 10px;
}
.map {
    margin: 0 50px 50px 0;
    width: 650px;
}
.map iframe {
    width: 100%;
}
.open {
    background-color: #00ff4d4d;
    padding: 5px;
    border-radius: 8px;
    color: gray;
}
@media (max-width: 768px) {
    .box {
        width: 100%;
        margin: auto;
        height: 300px;
    }
    .controllers {
        flex-direction: column;
        gap: 50px;
    }
    .controller-card {
        width: 80%;
    }
    .controllers::before {
        background-image: url("/img/background3-vertical.png");
        background-size: contain;
        background-position: top center;
    }
    .info {
        flex-direction: column;
    }
    .map {
        width: 100%;
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .box {
        height: 200px;
    }

    .new,
    .featured {
        height: 450px;
        padding: 10px;
    }

    .controller-card {
        height: 250px;
        width: 90%;
    }
}
