:root {
    --main-color: #2a2670;
    --main-text: "Montserrat";
}

body {
    margin: 0;
    font-family: var(--main-text);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: var(--main-color);
    color: white;
    flex-wrap: wrap;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}
.mobile,
.search-container {
    display: none;
}
.search-container {
    margin: 15px;
    position: relative;
}

.search-input {
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding-right: 40px; /* Space for the button */
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2a2670;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0.5rem;
    cursor: pointer;
}

.search-btn .search-icon {
    width: 20px;
    height: 20px;
    fill: white;
}
.categories-container {
    width: 100%;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.categories li {
    opacity: 0.5;
    cursor: pointer;
    font-weight: 600;
}
.categories li:hover {
    color: var(--main-color);
    opacity: 1;
}
.navbar-left .logo {
    width: 130px; /* Adjust this as needed */
    height: 50px;
}
.navbar-center .logo-mobile {
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-center {
    flex: 1;
    justify-content: center;
}

.navbar-center input {
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    border: none;
    border-radius: 25px;
}

.burger {
    display: none;
    font-size: 1.5rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

.logo-mobile {
    display: none;
}
.icon {
    width: 24px;
    height: 24px;
    padding: 0.5rem;
    margin-left: 0.7rem;
    cursor: pointer;
    background-color: transparent;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    cursor: pointer;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    transition: transform 0.3s ease;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    margin: 0;
    list-style: none;
    background-color: white;
    z-index: 9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-menu li {
    padding: 5px 0;
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}
.sidebar-dropdown {
    color: gray; /* default color */
    transition: color 0.3s ease;
}

.sidebar-dropdown.active {
    color: black; /* the opened one */
}
/* Mobile styles */
@media (max-width: 768px) {
    .web,
    .categories-container {
        display: none;
    }
    .mobile,
    .search-container {
        display: flex;
    }
    .navbar {
        background-color: white;
    }

    .navbar-left .logo {
        display: none;
    }

    .navbar-center input {
        display: none;
    }
    .search-input {
        max-width: 100%;
    }

    .search-btn {
        padding: 0.3rem;
    }
    .burger {
        display: block;
    }

    .logo-mobile {
        display: block;
    }

    .navbar-right i {
        background-color: white;
        color: var(--main-color);
        border-color: var(--main-color);
    }
}
